<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top navbar-custom">
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.navigation %}
      <li {% if page.url==item.link %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
        <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
      </li>
      {% endfor %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vocabulary
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for vocabulary in site.vocabularies %}
          <a class="dropdown-item"  href="{{ site.baseurl }}{{ vocabulary.url }}">{{ vocabulary.titel }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>