div.container-adaptive {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    @media (min-width: 576px) {
        /* placeholder */
    }
    
    @media (min-width: 768px) {
        /* placeholder */
    }

    @media (min-width: 992px) {
        width: 90%;
    }

    @media (min-width: 1200px) {
        width: 85%;
    }
  }
