$gStickyTopOffset: 70px;

/* Offset body due to fixed-top navbar */
body {
  padding-top: $gStickyTopOffset;
  padding-bottom: $gStickyTopOffset;
}

/* Offset ids due to fixed-top navbar -> jumping to ids NOT alligned at top of page, which is hidden by fixed-top navbar */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -$gStickyTopOffset;
  height: $gStickyTopOffset;
  visibility: hidden;
}

/* Offset sticky-navbar due to fixed-top mnavbar */
.sticky-top-offset {
  top: $gStickyTopOffset;
}

.margin-bottom-top-offset {
  margin-bottom: $gStickyTopOffset;
}

.blog-post {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1rem; }
}

table {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0.6rem 1rem;
  border-bottom: 0.1rem solid #e5e5e5;
}

tbody tr:nth-child(odd) {
  background-color: rgba(176, 196, 222, 0.1);
}
 
.info-box {
  padding: .5rem;
  border-radius: .25rem;
  border: 0.15rem solid lightgreen;
  background-color: #f8f9fa;
}
