$gStickyTopOffset: 70px;

/* Offset body due to fixed-top navbar */
body {
  padding-top: $gStickyTopOffset;
  padding-bottom: $gStickyTopOffset;
}

/* Offset ids due to fixed-top navbar -> jumping to ids NOT alligned at top of page, which is hidden by fixed-top navbar */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -$gStickyTopOffset;
  height: $gStickyTopOffset;
  visibility: hidden;
}

/* Offset sticky-navbar due to fixed-top mnavbar */
.sticky-top-offset {
  top: $gStickyTopOffset;
}

.margin-bottom-top-offset {
  margin-bottom: $gStickyTopOffset;
}

.blog-post {
  h1 { font-size: 2rem; }
  h2 { font-size: 1.6rem; }
  h3 { font-size: 1.3rem; }
  h4 { font-size: 1.2rem; }
  h5 { font-size: 1.1rem; }
  article {
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #e4e4e4;

    ol {
      padding-left: 2rem;
      // list-style-type: none;
      li   {
        // color: black;
        // display: block;
        // padding-top: 0.25rem;
        // padding-bottom: 0.25rem;
        padding-left: 0.25rem;
        // border-top: 0.1rem solid #e5e5e5;
        // border-bottom: 0.1rem solid #e5e5e5;
      }
    }
  }
}

table {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0.6rem 1rem;
  border-bottom: 0.1rem solid #e5e5e5;
}

tbody tr:nth-child(odd) {
  background-color: #f6f8fa;
}

.info-box {
  padding: .5rem;
  border-radius: .25rem;
  border: 0.15rem solid lightgreen;
  background-color: #f8f9fa;
}
