.navbar-custom .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
}

.navbar-custom {
  .nav-item .nav-link, .dropdown-menu .dropdown-item {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
  }
  .nav-item:hover .nav-link, .dropdown-menu .dropdown-item:hover {
    border-bottom: 0.2rem solid rgb(240, 168, 51);
    background-color: inherit;
  }  
}
