---
layout: page
---

<div class="blog-post">
    {% if page.toc %}
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="sticky-top sticky-top-offset">
                {{ content | toc_only }}
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
            {% include post-chain-navigator.html %}
            {{ content }}
            {% include post-chain-navigator.html %}
        </div>
    </div>
    {% else %}
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
    {% include post-chain-navigator.html %}
    {{ content }}
    {% include post-chain-navigator.html %}
    {% endif %}
</div>
